[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
boto3 = "*"
pyarrow = "*"
pyyaml = "*"
moto = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
